{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        
    </head>    
    <body>
        {% for da in messages %}
            {{ da }}
            <br/>
        {% endfor %}    
    </body>
</html>
