{# app/Resources/views/base.html.twig #}
{{ include('header.html.twig') }}
    <body id="page1">
        <div id="sidebar">
		<div class="body1">
			<div class="body2">
				<div class="main zerogrid">
					<header>
						{{ include('menu.html.twig') }}
						{{ include('slider.html.twig') }}
					</header>
				</div>
			</div>
		</div>
        </div>
            {% block body %}{% endblock %}
    </body>
</html>
